# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://devbaochen.github.io
date_format: "ordinal"
title: 包臣的博客
subtitle: "以梦为马，不负韶华"
description: "包臣的博客"
keywords: Bao Chen, 包臣, , mazhuang
timezone: Asia/GuiZhou
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: ChenBao
organization: 包臣
organization_url: https://devbaochen.github.io
github_username: DevBaoChen
location: GuiZhou, China
email: 759274701@qq.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

#   -
#     href: /archives/
#     label: 归档

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: mzlogin/mzlogin.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
# gitment:
#     owner: DevBaochen
#     repo: DevBaoChen.github.io
#     oauth:
#         client_id: a701fa982322fc1a2e26
#         client_secret: 7d713cd27c5e6c6e75b71f15c74eebb6e15fedde
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: DevBaochen
    repo: DevBaoChen.github.io
    clientID: a701fa982322fc1a2e26
    clientSecret: 7d713cd27c5e6c6e75b71f15c74eebb6e15fedde
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
